@font-face {
	font-family: 'Aller';
	src: ('fonts/Aller_Std_Lt.ttf'), format('truetype');
}

@font-face {
	font-family: 'Edwardian Script ITC';
	src: ('fonts/EdwardianScript.TTF'), format('truetype');
}

@font-face {
	font-family: 'Miss Fajardose';
	src: ('fonts/MissFajardose-Regular.ttf'), format('truetype');
}

@font-face {
	font-family: 'Poppins';
	src: ('fonts/Poppins-Regular.ttf'), format('truetype');
}

.background {
	background-repeat: no-repeat;
	display:block;
	background-size: cover;
	background-attachment: fixed;
	background-position: top, center;
}

.header {
	font-size: 100px;
	font-family: 'Miss Fajardose'; 
	text-align: center;
	margin-bottom: 0px;
	font-weight: 400;
	font-style: normal;
	color: #000000;
}

.header2 {
	font-size: 50px;
	font-family: 'Poppins'; 
	text-align: left;
	margin-bottom: 0px;
	Font-weight: 300;
	color: #000000;
}

p {
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 18px;
	margin-top: 0px;
	text-align: center;
	color: #000000;
}

.website {
	font-size: 18px;
	font-weight: 300;
	font-family: 'Poppins'; 
	text-align: center;
	color: #000000;
	margin-top: 0px;
	
}

.welcome p {
	font-family: 'Poppins';
	font-size: 14px;
	text-align: left;
	font-weight: 200;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.7);
	margin: auto;
	margin-bottom: 14px;
	width: 60%;
}

.title {
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: normal;
	text-align: left;
	margin-bottom: 5px;
	margin-top: 40px;
	color: #000000;
}

.resume {
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 300px;
	color: #000000;
}

.abtme {
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 300;
	text-align: justify;
	margin-right: 200px;
	list-style-type: none;
	margin-top: 0px;
	color: #000000;
	margin-left; 150px;
	background-color: rgba(255, 255, 255, 0.7);
	max-width: 800px;
}

.links {
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 100px;
	list-style-type: none;
	color: #000000;
}

.contactlinks {
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 5px;
	list-style-type: none;
	margin-left 50px;
	color: #000000;
}

.contactlink2 {
	font-family: 'Poppins';
	font-size: 22px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 5px;
	list-style-type: none;
	margin-left 200px;
	color: #000000;
	display: inline;
}

.headerimg {
	width: auto;
	height: auto;
}

a {
	color: #000000;
	text-decoration: none;
	font-weight: 300;
	font-family: 'Poppins'; 
	display: block;
	text-align: left;
}

.contact {
	display: inline;
   	margin-left: auto;
    	margin-right: auto; 
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	margin-top: 5px;
	color: #000000;
}

a:hover {
	color: #ffffff;
	text-decoration: underline;
	font-weight: 300;
	font-family: 'Poppins'; 
}



a:visited {
	color: #666666;
	font-weight: 300;
	font-family: 'Poppins'; 
}

li a {
    	display: block;
    	color: #000000;
    	text-align: center;
    	padding: 10px 10px;
    	text-decoration: none;
	float: left;
	border: solid 1px black;
	background-color: rgba(255, 255, 255, .5);
	margin-right: 5px;
	border-radius: 5px;
}